body {
  background-color: #d889a6;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#container {
  width: 80%;
  margin: 0 auto;
  background-color: #5479e2;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
h1 {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff4fe;
  border-radius: 20px;
}
.fizz-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  color: #fff;
}

.fizz-list > li {
  list-style: none;
  width: 76px;
  height: 142px;
  padding: 1rem;
  font-size: 1.5rem;
  border: 7px solid #fff;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px rgba(158, 8, 8, 0.5);
}

.fizz {
  color: #c2c7d7;
  background-color: #702df6;
}

.buzz {
  color: #ffffff;
  background-color: #ffc400;
}

.fizz_buzz {
  color: #dacdd1;
  background-color: #ff0088;
  text-align: center;
}
